#### Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Read in Data

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/housing.csv')

#### Data preparation
- Select only the features from above and fill in the missing values with 0.
- Create a new column rooms_per_household by dividing the column total_rooms by the column households from dataframe.
- Create a new column bedrooms_per_room by dividing the column total_bedrooms by the column total_rooms from dataframe.
- Create a new column population_per_household by dividing the column population by the column households from dataframe.

In [3]:
cols = ['latitude', 'longitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'median_house_value',
'ocean_proximity']
df = df[cols]

In [4]:
df.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [5]:
df = df.fillna(0)

In [6]:
df.isnull().sum()

latitude              0
longitude             0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

In [7]:
df['rooms_per_household'] = df['total_rooms']/ df['households']
df['bedrooms_per_room '] = df['total_bedrooms']/ df['total_rooms']
df['population_per_household  '] = df['population']/ df['households']

#### Question 1
- What is the most frequent observation (mode) for the column ocean_proximity?

In [8]:
df['ocean_proximity'].mode()[0]

'<1H OCEAN'

#### Question 2
- Create the correlation matrix for the numerical features of your train dataset.
- In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
- What are the two features that have the biggest correlation in this dataset?

In [9]:
df.corr()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household,bedrooms_per_room,population_per_household
latitude,1.000000,-0.924664,0.011173,-0.036100,-0.065318,-0.108785,-0.071035,-0.079809,-0.144160,0.106389,-0.104112,0.002366
longitude,-0.924664,1.000000,-0.108197,0.044568,0.068082,0.099773,0.055310,-0.015176,-0.045967,-0.027540,0.084836,0.002476
housing_median_age,0.011173,-0.108197,1.000000,-0.361262,-0.317063,-0.296244,-0.302916,-0.119034,0.105623,-0.153277,0.125396,0.013191
total_rooms,-0.036100,0.044568,-0.361262,1.000000,0.920196,0.857126,0.918484,0.198050,0.134153,0.133798,-0.174583,-0.024581
total_bedrooms,-0.065318,0.068082,-0.317063,0.920196,1.000000,0.866266,0.966507,-0.007295,0.049148,0.002717,0.122205,-0.028019
population,-0.108785,0.099773,-0.296244,0.857126,0.866266,1.000000,0.907222,0.004834,-0.024650,-0.072213,0.031397,0.069863
households,-0.071035,0.055310,-0.302916,0.918484,0.966507,0.907222,1.000000,0.013033,0.065843,-0.080598,0.059818,-0.027309
median_income,-0.079809,-0.015176,-0.119034,0.198050,-0.007295,0.004834,0.013033,1.000000,0.688075,0.326895,-0.573836,0.018766
median_house_value,-0.144160,-0.045967,0.105623,0.134153,0.049148,-0.024650,0.065843,0.688075,1.000000,0.151948,-0.238759,-0.023737
rooms_per_household,0.106389,-0.027540,-0.153277,0.133798,0.002717,-0.072213,-0.080598,0.326895,0.151948,1.000000,-0.387465,-0.004852
bedrooms_per_room,-0.104112,0.084836,0.125396,-0.174583,0.122205,0.031397,0.059818,-0.573836,-0.238759,-0.387465,1.000000,0.003047
population_per_household,0.002366,0.002476,0.013191,-0.024581,-0.028019,0.069863,-0.027309,0.018766,-0.023737,-0.004852,0.003047,1.000000

- Make median_house_value binary
- We need to turn the median_house_value variable from numeric into binary.
- Let's create a variable above_average which is 1 if the median_house_value is above its mean value and 0 otherwise.

In [10]:
df['above_average'] = df['median_house_value'].apply(lambda x: 1 if x > df['median_house_value'].mean() else 0)

- Split the data
- Split your data in train/val/test sets, with 60%/20%/20% distribution.
- Use Scikit-Learn for that (the train_test_split function) and set the seed to 42.
- Make sure that the target value (median_house_value) is not in your dataframe.

In [11]:
from sklearn.model_selection import train_test_split

df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=42)
X_train, X_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

y_train = X_train.above_average.values
y_val = X_val.above_average.values

#### Question 3
- Calculate the mutual information score with the (binarized) price for the categorical variable that we have. Use the training set only.
- What is the value of mutual information?
- Round it to 2 decimal digits using round(score, 2)

In [12]:
from sklearn.metrics import mutual_info_score

In [13]:
round(mutual_info_score(X_train['ocean_proximity'], X_train['above_average']), 2)

0.1

In [14]:
X_train.drop(['above_average', 'median_house_value'], axis = 1, inplace = True)
X_val.drop(['above_average', 'median_house_value'], axis = 1, inplace = True)

#### Question 4
- Now let's train a logistic regression
- Remember that we have one categorical variable ocean_proximity in the data. Include it using one-hot encoding.
- Fit the model on the training dataset.
- To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
- model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
- Calculate the accuracy on the validation dataset and round it to 2 decimal digits.

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction import DictVectorizer

In [17]:
train_dict = X_train.to_dict(orient='records')

In [18]:
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

DictVectorizer(sparse=False)

In [19]:
X_train = dv.transform(train_dict)

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
model = model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [22]:
model.intercept_, model.coef_

(array([-0.13173447]),
 array([[ 3.41281905e-01,  3.98762376e-03,  3.60259800e-02,
          1.30140624e-01,  9.15912335e-02,  1.21623656e+00,
          4.74922642e-01, -1.76232572e+00,  3.54534386e-02,
          2.29334213e-01,  8.90880953e-01, -1.63818534e-03,
          1.04225229e-02, -9.88403287e-03,  1.83522544e-03,
         -1.42062788e-04]]))

In [23]:
val_dict = X_val.to_dict(orient='records')
X_val = dv.transform(val_dict)

In [24]:
predictions = model.predict_proba(X_val)[:, 1]
predictions = [1 if i > 0.5 else 0 for i in predictions]

In [25]:
from sklearn.metrics import accuracy_score
overall_average = round(accuracy_score(y_val, predictions),2)
overall_average

0.84

#### Question 5
- Let's find the least useful feature using the feature elimination technique.
- Train a model with all these features (using the same parameters as in Q4).
- Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
- For each feature, calculate the difference between the original accuracy and the accuracy without the feature.

In [26]:
features = ['total_rooms', 'total_bedrooms', 'population', 'households']
def model_build(data):
    for feature in features:
        data_1 = data.drop(feature, axis = 1)

        df_train_full, df_test = train_test_split(data_1, test_size=0.2, random_state=42)
        
        X_train, X_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

        y_train = X_train.above_average.values
        y_val = X_val.above_average.values
        
        X_train.drop(['above_average', 'median_house_value'], axis = 1, inplace = True)
        X_val.drop(['above_average', 'median_house_value'], axis = 1, inplace = True)

        
        
        train_dict = X_train.to_dict(orient='records')
        dv = DictVectorizer(sparse=False)
        dv.fit(train_dict)
        X_train = dv.transform(train_dict)
        
        model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
        model.fit(X_train, y_train)
        
        val_dict = X_val.to_dict(orient='records')
        X_val = dv.transform(val_dict)
        
        predictions = model.predict_proba(X_val)[:, 1]
        predictions = [1 if i > 0.5 else 0 for i in predictions]
        
        accuracy = round(accuracy_score(y_val, predictions),4)
        
        
        
        print('Accuracy after removing ', feature, 'is ', accuracy, 'and model difference is', np.round(abs(overall_average- accuracy),4))

In [27]:
model_build(df)

Accuracy after removing  total_rooms is  0.8362 and model difference is 0.0038
Accuracy after removing  total_bedrooms is  0.8367 and model difference is 0.0033
Accuracy after removing  population is  0.8263 and model difference is 0.0137
Accuracy after removing  households is  0.8338 and model difference is 0.0062

#### Question 6
- For this question, we'll see how to use a linear regression model from Scikit-Learn
- We'll need to use the original column 'median_house_value'. Apply the logarithmic transformation to this column.
- Fit the Ridge regression model (model = Ridge(alpha=a, solver="sag", random_state=42)) on the training data.
- This model has a parameter alpha. Let's try the following values: [0, 0.01, 0.1, 1, 10]
- Which of these alphas leads to the best RMSE on the validation set? Round your RMSE scores to 3 decimal digits.
- If there are multiple options, select the smallest alpha.

In [28]:
alpha_values = [0, 0.01, 0.1, 1, 10]
def linear_model_build(data):
    for value in alpha_values:

        df_train_full, df_test = train_test_split(data, test_size=0.2, random_state=42)
        
        X_train, X_val = train_test_split(df_train_full, test_size=0.25, random_state=42)

        y_train = np.log(X_train.median_house_value).values
        y_val = np.log(X_val.median_house_value).values
        
        X_train.drop(['above_average', 'median_house_value'], axis = 1, inplace = True)
        X_val.drop(['above_average', 'median_house_value'], axis = 1, inplace = True)

        
        
        train_dict = X_train.to_dict(orient='records')
        dv = DictVectorizer(sparse=False)
        dv.fit(train_dict)
        X_train = dv.transform(train_dict)
        
        from sklearn.linear_model import Ridge
        model = Ridge(alpha=value, solver="sag", random_state=42)

        model.fit(X_train, y_train)
        
        val_dict = X_val.to_dict(orient='records')
        X_val = dv.transform(val_dict)
        
        predictions = model.predict(X_val)
        
        from sklearn.metrics import mean_squared_error
        MSE = mean_squared_error(y_val, predictions)
        
        import math
        RMSE = math.sqrt(MSE)
        
        print('The RMSE for alpha value of', value, 'is', np.round(RMSE,3))

In [29]:
linear_model_build(df)

The RMSE for alpha value of 0 is 0.524
The RMSE for alpha value of 0.01 is 0.524
The RMSE for alpha value of 0.1 is 0.524
The RMSE for alpha value of 1 is 0.524
The RMSE for alpha value of 10 is 0.524